<!DOCTYPE html>
<html>

{% load static %}
{% load nblog1 %}
{% load bootstrap4 %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
<!--
    <title>
        {% if request.path != '/' %}
        {% block title %}{% endblock %} | 
        {% endif %}
        ディスカッション管理
    </title>
-->
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <!-- for admin widgets -->
    <!--
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ form.media }}}
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
        -->
    <!-- end for admin widgets -->


    {% block head %}{% endblock %}
</head>
    
<body>
<div class="container">
    <header>
        {% block header %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">共有Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link">
                    
                    </a>
                </li>
              </ul>
              <ul class="navbar-nav navbar-right">
              </ul>

              <!--
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
              </form>
              -->
            </div>
          </nav>
        {% endblock %}
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
<div style="margin-left: 700px; margin-right: auto;">
    <footer id="site-footer" style="position: fixed; bottom: 0;">
        <!--{% render_subscribe_section %}-->
        <hr>
        <ul class="inline-ul">
            {% block link %}{% endblock %}
        </ul>

        <div class="container" id="footer-container">
            <p id="copyright">{% block copyright %}{% endblock %}</p>
        </div>
    </footer>
</div>
{% block javascript %}{% endblock %}
</body>
</html>