{% load static %}
{% load nblog1 %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'nblog1/css/style.css' %}">

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>

<body>
<main>
    <div class="container">
        <header>
            {% block header %}
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand">共有Web</a>
                    <a href="{% url 'discussion:disc_list' %}" class="badge badge-light">グループを退出</a>
            </nav>
            {% endblock %}
        </header>
        {% block content %}{% endblock %}
    </div>
</main>

<footer id="site-footer" style="background-color:#343a40">
        <ul class="inline-ul">
            {% block link %}{% endblock %}
        </ul>
        <p id="copyright">{% block copyright %}{% endblock %}</p>
    </div>
</footer>
</body>
</html>