{% extends 'nblog1/base_site_detail.html' %}
{% load nblog1 %}
{% load static %}
{% load humanize %}

{% block content %}
    <div align="right"><a href="{% url 'nblog1:top' %}">TOPへ戻る</a></div>
    <article class="post" id="post-detail">
        <h1 class="post-title">
                {{ post.title }}
        </h1>

        <div class="markdown-body">
            {{ post.text | markdown_to_html }}
        </div>

        <a href="{{ MEDIA_URL }}{{ post.attachment }}">{{ post.attachment }}</a>

        <div>
            <time class="updated_at" datetime="{{ post.updated_at | date:'Y-m-d' }}">
                {{ post.updated_at | naturaltime }}に更新
            </time>

            {% for tag in post.tags.all %}
                <span class="tag-no-click">{{ tag.name }}</span>
            {% endfor %}
        </div>

    </article>

    <section id="relation-posts">
        <h2 class="section-title">関連記事</h2>
        {% for post in post.relation_posts.all %}
            <article class="post">
                <h3 class="post-title"><a href="{% url 'nblog1:post_detail' post.pk %}">{{ post.title }}</a></h3>
                <p class="description">{{ post.description }}</p>
            </article>
        {% empty %}
            <p>関連記事はありません。</p>
        {% endfor %}
    </section>

    <section id="comment">
            <h2 class="section-title">コメント</h2>
            
        <!-- コメント一覧 -->
        {% for comment in post.comment_set.all %}
            <div class="comment">
                <h3>{{ comment.name }}</h3>
                <time class="updated_at"
                      datetime="{{ comment.created_at | date:'Y-m-d' }}">{{ comment.created_at | naturaltime }}</time>
                <div class="description markdown-body">
                    {{ comment.text | markdown_to_html_with_escape}}
                </div>
                <p>
                    <a href="{% url 'nblog1:reply_create' comment.pk %}" target="_blank"
                       rel="nofollow">返信する</a>
                </p>
            </div>


            <!-- リプライ一覧 -->
            {% for reply in comment.reply_set.all %}
                <div class="reply">
                    <h3>{{ reply.name }}</h3>
                    <time class="updated_at"
                          datetime="{{ reply.created_at | date:'Y-m-d' }}">{{ reply.created_at | naturaltime }}</time>
                    <div class="description markdown-body">
                        {{ reply.text | markdown_to_html_with_escape }}
                    </div>
                </div>
            {% endfor %}
            <!-- リプライ一覧終わり -->

        {% empty %}
            <p>まだコメントはありません。</p>
        {% endfor %}
        
        <a href="{% url 'nblog1:comment_create' post.pk %}" target="_blank" rel="nofollow">コメント追加</a>
        
        <!-- コメント一覧終わり -->
    </section>

        <!-- 削除 -->
    <section>
        <div style="margin-top: 100px; margin-bottom: 10px; border-bottom: solid 1px #ccc; padding-bottom: 5px;">
            <h2 style="font-size: 24px; font-weight: bold;">削除</h2>
        </div>
        <a href="{% url 'nblog1:post_delete'  post.pk %}">削除する</a>
    </section>
    <div align="right"><a href="#" class="addlink">ページトップへ</a></div>

{% endblock %}