{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <title>
        {% if request.path != '/' %}
        {% block title %}{% endblock %} | 
        {% endif %}
        PSCWEB2
    </title>
    
    <!-- for admin widgets -->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ form.media }}}
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <!-- end for admin widgets -->
    
    {% block head %}{% endblock %}
</head>
    
<body>
<div class="container">
    <header>
        {% block header %}
        <a class="site-name">PSCWEB2</a>
        <nav>
            <ul>
                <li>
                    <a href="https://satamame.github.io/pscweb2/demo_help/" target="_blank">?</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                <select name="select" onChange="location.href=value;">
                <option value="#">{{ user.username }}</option>
                <option value="#" class="logout">Logout</option>
                </select>
                </li>
                {% else %}
                <li>
                    <a class="login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endblock %}
    </header>
    <div class="content">
        {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <!-- div class="breadcrumbs">
            {% block breadcrumbs %}{% endblock %}
        </div -->
        {% block content %}{% endblock %}
    </div>
</div>
{% block javascript %}{% endblock %}
</body>
</html>