{% extends 'discussion/base.html' %}

{% block content %}
<h1 style="margin: 0px;">
<a href="{% url 'discussion:disc_list' %}">◀</a>
{% if object %}
グループの編集
{% else %}
新規グループ
{% endif %}
</h1>

{% if object %}
<div align="right"><a href="{% url 'discussion:disc_delete' pk=object.id %}" class="deletelink">削除</a></div>
{% else %}
<div>&nbsp;</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    {% if object %}
    <input type="submit" value="更新">
    {% else %}
    <input type="submit" value="作成">
    {% endif %}
</form>
{% endblock %}