{% extends 'discussion/base.html' %}

{% block content %}
<h1 style="margin: 0px;">
<a href="{% url 'discussion:usr_list' disc_id=object.discussion.id %}">◀</a>
グループユーザの削除
</h1>

<form method="post">{% csrf_token %}
    <p>このグループユーザを削除しますか？</p>
    <input type="submit" value="削除する">
    <input type="button"
        onclick="location.href='{% url 'discussion:disc_list' %}'"
        value="キャンセル">
</form>

<table>
    <tr><th>グループ</th><td>{{ object.discussion }}</td></tr>
    <tr><th>グループユーザ</th><td>{{ object }}</td></tr>
    <tr><th>所有権</th><td>{{ object.is_owner }}</td></tr>
    <tr><th>編集権</th><td>{{ object.is_editor }}</td></tr>
</table>
{% endblock %}