{% extends 'discussion/base.html' %}

{% block content %}
<h1 style="margin: 0px;">
<a href="{% url 'discussion:usr_list' disc_id=object.discussion.id %}">◀</a>
グループユーザの編集
</h1>

{% if object != view.disc_user %}
<div align="right"><a href="{% url 'discussion:usr_delete' pk=object.id %}" class="deletelink">削除</a></div>
{% else %}
<div>&nbsp;</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <table>
    <tr><th>グループ</th><td>{{ object.discussion }}</td></tr>
    <tr><th>グループユーザ</th><td>{{ object }}</td></tr>
        {{ form }}
    </table>
    {% if object %}
    <input type="submit" value="更新">
    {% else %}
    <input type="submit" value="作成">
    {% endif %}
</form>
{% endblock %}